.container {
  margin: auto;
  height: 1024px;
  width: 1365px;
  //border: 1px solid black;
  position: relative;
  overflow: hidden;

  .source_image {
    position: absolute;
    width: 1481px;
    height: 470px;
    z-index: -1;
    right: 0;
    background-image: url("./Rectangle1.png");
  }

  .top {
    margin: 21px 24px 32px 34px;
    //border: 1px solid palevioletred;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    .top_bell {
      padding: 0 20px;
      height: 39px;
      border-right: 1px solid #FFFFFF;
    }

    .top_avatar {
      margin: 0 20px;
    }

    .top_title {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      font-weight: 600;
      color: #FFFFFF;
      font-style: normal;
    }

  }

  .info {
    color: #FFFFFF;
    font-family: "Open Sans", sans-serif;
    //border: 1px solid green;
    margin: 0 24px 32px 34px;
    height: 54px;

    h3, p {
      padding: 0;
      margin: 0;
    }

    h3 {
      font-weight: 600;
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
    }
  }

  .profile_info {
    color: #FFFFFF;
    height: 128px;
    margin: 0 24px 24px 34px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    background: linear-gradient(270deg, #1A78C2 0%, #1A78C2 101.06%);
    border-radius: 10px;

    .profile_avatar {
      height: 80px;
      width: 80px;
      margin: 24px 42px 24px 34px;
    }

    span {
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 30px;
    }

    .profile_info_icon {
      display: flex;
      margin-left: auto;
      margin-right: 25px;
      align-items: center;
      text-transform: uppercase;
      font-size: 18px;

      span {
        margin-right: 8px;
        font-weight: 600;
        font-size: 14px;
      }
    }
  }

  .main {
    margin: 0 24px 0 34px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    height: auto;
  }

}

@media (max-width: 320px) {
  .container {
    height: auto;
    width: 100%;

    .source_image {
      width: 320px;
      height: 199px;
      left: 0;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .top {
      margin: 17px 10px 0 0;
      //border: 1px solid palevioletred;

      .top_bell {
        padding: 0 20px;
        height: 24px;
        border-right: 1px solid #FFFFFF;

        .bell {
          height: 24px;
        }
      }

      .top_avatar {
        margin: 0 14px;

        .avatar {
          height: 24px;
          width: 24px;
        }
      }

      .top_title {
        font-size: 14px;
        display: none;
      }

    }
    ///////////////////////////////////////
    .info {
      color: #FFFFFF;
      font-family: "Open Sans", sans-serif;
      //border: 1px solid green;
      margin: 18px 10px 18px 10px;
      height: 44px;

      h3, p {
        padding: 0;
        margin: 0;
      }

      h3 {
        font-size: 14px;
        margin-bottom: 9px;
      }

      p {
        font-size: 12px;
      }
    }

    .profile_info {
      height: 71px;
      margin: 18px 10px 18px 10px;

      .profile_avatar {
        height: 40px;
        width: 40px;
        margin: 15px 10px;
      }

      span {
        font-size: 14px;
        white-space: nowrap;
      }

      .profile_info_icon {
        display: flex;
        margin-left: auto;
        margin-right: 25px;
        align-items: center;
        text-transform: uppercase;
        font-size: 18px;

        .profile_info_icon_title {
          display: none;
        }

        span {
          margin-right: 8px;
          font-weight: 600;
          font-size: 14px;
        }
      }
    }

    .main {
      margin: 0 10px ;
    }

  }

}